/* 
#about {
    text-align: center;
    padding: 2rem;
}

.profile-image-container {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.description {
    font-size: 1.1rem;
    line-height: 1.5;
} */


/* src/components/About.css */
#about {
    padding: 2rem;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-details {
    max-width: 50%;
    text-align: left;
}

.profile-image-container {
    max-width: 40%;
    text-align: right;
}

.profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.description {
    font-size: 1.1rem;
    line-height: 1.5;
}

.hire-button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hire-button:hover {
    background-color: #0056b3;
}
