/* src/components/Projects.css */
#projects {
    padding: 2rem;
    /* background: #f4f4f4; */
    text-align: center;
}
.project-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.project-item {
    background: #ddd;
    padding: 1rem;
    margin: 1rem;
}
